:root {
  /* Color Scheme */
  --primary-color: #00ffd5;
  --secondary-color: #fefef1;
  --success-color: #28a745;
  --error-color: #dc3545;
  --warning-color: #ffc107;
  --info-color: #17a2b8;
  --light-color: #f8f9fa;
  --dark-color: #343a40;
  --text-color: #212529;
  --h2-color: #405f5d;
  --h1-color: #364e4c;
  --link-color: #568c9c;
  --hover-color: #fffff1;
  --link-bg-color: #fffff1;
}

body {
  background: var(--dark-color);
  font-size: 1.2rem;
}

.banner {
  height: 50vh;
  width: 100%;
  background-image: url(images/medium_background2.webp);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 6px;
}

.container {
  background: var(--secondary-color);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.inner-container {
  margin-right: 5%;
  margin-left: 5%;
}

h2 {
  color: var(--h2-color);
  text-shadow: #525252 1px 1px 1px;
  z-index: 1;
}
#active {
  color: #2b3b40;
}
h1 {
  color: var(--h1-color);
  text-shadow: #525252 1px 1px 1px;
  z-index: 1;
}

a {
  color: var(--link-color);
  text-decoration: none;
  font-weight: 600;
  background: var(--link-bg-color);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  display: inline-block; /* Ensures transform applies correctly */
  transition: transform 0.3s ease, box-shadow 0.3s ease, color 0.3s ease,
    background-color 0.3s ease; /* Transition for smooth effect */
}

a:hover {
  color: var(--hover-color);
  background: var(--link-color);
  transform: translateY(-5px); /* Lift effect */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.top-container {
  position: absolute; /* This confines the .circle movement within */
  width: 60%; /* or any specific width */
  height: 40%; /* Adjust based on your needs */
  margin-bottom: 15%;
  margin-top: 15%;
}

.circle {
  width: 100px;
  height: 100px;
  background-color: var(
    --secondary-color
  ); /* Using the primary color from your variables */
  border-radius: 50%;
  position: relative;
  animation: moveAround 10s infinite; /* Animation name, duration, and iteration count */
  box-shadow: inset -8px -10px 20px #dbc7a9;
}

@keyframes moveAround {
  0% {
    top: 0;
    left: 0;
  }
  10% {
    top: 20%;
    left: 20%;
  }
  20% {
    top: 10%;
    left: 40%;
  }
  30% {
    top: 30%;
    left: 60%;
  }
  40% {
    top: 50%;
    left: 80%;
  }
  50% {
    top: 40%;
    left: 40%;
  }
  60% {
    top: 20%;
    left: 20%;
  }
  70% {
    top: 60%;
    left: 60%;
  }
  80% {
    top: 70%;
    left: 30%;
  }
  90% {
    top: 80%;
    left: 90%;
  }
  100% {
    top: 0;
    left: 0;
  }
}

/* Adjustments for Tablets */
@media only screen and (max-width: 991px) {
  .banner,
  .container {
    flex-direction: column;
  }

  .inner-container {
    margin-right: 2%;
    margin-left: 2%;
  }

  body {
    font-size: 1.4rem;
  }
}

/* Adjustments for Mobile Phones */
@media only screen and (max-width: 767px) {
  .banner {
    height: 40vh;
  }

  body {
    font-size: 1rem;
  }
}

/* Large Devices - Desktops */
@media only screen and (min-width: 992px) {
  body {
    font-size: 1.5rem;
  }

  .banner {
    height: 60vh;
  }

  .inner-container {
    margin-right: 10%;
    margin-left: 10%;
  }
}
